<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegant Quiz</title>

</head>
<body>
<div id="app" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-danger mb-3 shadow-sm mx-auto"
                 style="width: 90%; height: 80vh; margin-top: 5%; margin-bottom: 5%;">
                <div class="card-header bg-primary fixed-header">
                    <p class="text-secondary-emphasis">{{ formattedQuestionTitle }}</p>
                </div>
                <div class="card-body btn-dark">
                    <div v-for="(answer, index) in currentAnswers" :key="index" class="form-check mb-2">
                        <input type="checkbox" :id="'answer' + index" class="form-check-input" v-model="selectedAnswers"
                               :value="index">
                        <label class="form-check-label" :for="'answer' + index">{{ answer }}</label>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <div>
                        <button @click="previousQuestion" class="btn btn-outline-secondary"
                                :disabled="questionIndex === 0">Previous
                        </button>
                        <button @click="nextQuestion" class="btn btn-outline-primary"
                                :disabled="questionIndex === questions.length - 1">Next
                        </button>
                    </div>
                    <div class="badge bg-primary text-white">
                        Question {{ questionIndex + 1 }} / {{ questions.length }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="HomeScript.js"></script>-->
</body>
</html>
