# PyCharm files
urban-umbrella.iml
vcs.xml
profiles_settings.xml
Project_Default.xml
modules.xml
misc.xml

# Project files
.env
/dockerfiles/build.log
/build.log
/app/dist/
/app/dist-apk/
/logs/
/app/public/quizData.json
