# PyCharm files
urban-umbrella.iml
vcs.xml
profiles_settings.xml
Project_Default.xml
modules.xml
misc.xml

# Project files
.env
/dockerfiles/build.log
/build.log
/app/web-build/
/app/android-build/
/logs/
