<div class="d-flex vh-100 justify-content-center align-items-center">
  <QuestionCard
    :formattedQuestionTitle="formattedQuestionTitle"
    :currentAnswers="currentAnswers"
    :selectedAnswers="selectedAnswers"
    :answersDisabled="answersDisabled"
    @selectAnswer="openModal"
  />

  <ProgressBar :progressPercentage="progressPercentage"/>

  <Modal
    ref="modal"
    v-if="showModal"
    :selectedAnswerText="selectedAnswerText"
    :showModal="true"
    :isCorrect="isCorrect"
    @submit="submitAnswer"
    @cancel="closeModal"
  />
</div>
