<div class="d-flex vh-100 justify-content-center align-items-center">
    <!-- QuestionCard Component -->
    <QuestionCard
            :formattedQuestionTitle="formattedQuestionTitle"
            :currentAnswers="currentAnswers"
            :selectedAnswers="selectedAnswers"
            :answersDisabled="answersDisabled"
            @selectAnswer="selectAnswer"
    />

    <!-- ProgressBar Component -->
    <ProgressBar :progressPercentage="progressPercentage"/>

    <!-- Alert Component -->
    <Alert
            v-if="showAlert"
            :alertType="alertType"
            :alertMessage="alertMessage"
            :show-alert=true
            @closeAlert="closeAlert"
     />
</div>